body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	color: #333333;
	background-color: #eeeeee;
}

h1 {
	font-size: 2.07rem;
}
h2 {
	font-size: 1.73rem;
}
h3 {
	font-size: 1.44rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.83rem;
}

.site-header {
	background-image: url(/img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
 	text-align: center;
	padding: 2rem 0 1.5rem 0;
	margin-bottom: 2rem;
	font-size: 87.5%;
}
.site-navbar {
	color: #dddddd;
	margin-top: 1rem;
}
.site-navbar i {
	margin-right: 0.5em;
}
.site-navbar a {
	color: #dddddd;
	padding: 0 0.5em;
	display: inline-block;
}
.site-navbar a:hover,
.site-navbar a:focus {
	color: #ffffff;
}

.site-footer {
	margin-top: 2rem;
	font-size: 87.5%;
}
.link-widgets {
	text-align: left;
	padding: 2rem 0;
	color: #999999;
	background-color: #222222;
}
.link-widgets a {
	color: #0077aa;
}
.link-widgets a:hover,
.link-widgets a:focus {
	color: #00aadd;
}
.link-widgets .widget-title {
	color: #dddddd;
	margin: 0.5em 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #999999;
	position: relative;
}
.link-widgets .widget-title:after {
	content: "";
	width: 4em;
	height: 1px;
	background: #ff6633;
	position: absolute;
	left: 0;
	bottom: -1px;
}
.link-widgets .friend-link {
	border-bottom: 1px dashed #444444;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}
.link-widgets .friend-link span {
	margin-left: 1em;
}
.link-widgets .link-list {
	border-bottom: 1px dashed #444444;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}
.link-widgets .link-list a {
	display: inline-block;
	margin-right: 1em;
}
.copyright {
	text-align: center;
	padding: 2rem 0;
	color: #888888;
	background-color: #111111;
}
.copyright a {
	color: #006699;
}
.copyright a:hover,
.copyright a:focus {
	color: #0099cc;
}
.copyright p:last-child {
	margin-bottom: 0;
}

.archive-list .archive:not(:last-child) {
	margin-bottom: 2rem;
}
.archive-list .pager {
	text-align: center;
	margin: 0;
	font-size: 87.5%;
}
.archive-list .pager .page-number{
	color: #888888;
	margin: 0 0.75em;
}

.archive {
	padding: 2rem;
	background: #ffffff;
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem;
}
.archive-header {
	margin-bottom: 2rem;
}
.archive-title {
	margin: 0.5em 0;
}
.archive-title a {
	color: #333333;
}
.archive-title a:hover,
.archive-title a:focus {
	text-decoration: none;
}
.archive-meta-list {
	color: #aaaaaa;
}
.archive-meta {
	display: inline-block;
	margin-right: 1.5em;
}
.archive-meta i {
	margin-right: 0.75em;
}
.archive-meta a {
	color: #aaaaaa;
	display: inline-block;
}
.archive-meta a:hover,
.archive-meta a:focus {
	color: #ff6633;
}
.archive-footer {
	margin-top: 2rem;
	border-top: 1px solid #eeeeee;
	padding-top: 1rem;
}
.archive-tag-list {
	color: #aaaaaa;
}
.archive-tag {
	color: #aaaaaa;
	display: inline-block;
	margin-left: 0.75em;
}
.archive-tag:hover,
.archive-tag:focus {
	color: #ff6633;
}
.archive-read-all {
	margin-top: 1.5em;
}
.archive-label {
	color: #aaaaaa;
	margin-right: 0.5em;
}
.archive-content>h2:not(:first-child) {
        margin-top: 1.73rem;
}
.archive-content>h3 {
        margin-top: 1.44rem;
}
.archive-content>h4 {
        margin-top: 1.2rem;
}
.archive-content>h5 {
        margin-top: 1rem;
}
.archive-content>h6 {
        margin-top: 0.83rem;
}

.sticker-list a {
	display: inline-block;
	margin-right: 1em;
}
.sticker-list span {
	margin-left: 0.5em;
}
